* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(163, 105, 240);
  font-family: "Inter", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}